
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 3fr 1fr;
  }

  header{
    grid-column: 1 / 4;
  }
  
  
  footer{
  background: grey;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  }
  
  .header-content{
    padding: 20px;
    background: grey;
  }
  
  .navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(15, 3, 3);
    color: white;
    padding: 10px;
    list-style-type: none;
  }
  .navbar a{
    color: white;
    padding: 10px;
    text-decoration: none;
  }

  .main-content{
    grid-column: 1 / 2;
    background: rgb(231, 227, 227);
    height: 300px;
    
    
  }

  aside{
    background: lightblue;
    grid-column: 2 / 3;

    
  }