
:root {
    --primary-color: #2EC0F9;  
    --nav-color: #080808;
    --nav-color-text: #F5F5F5;
    --background-color: #F5F5F5;
    --mainHeader-font-family: 'Raleway', sans-serif;
    --nav-font-family: 'Raleway', sans-serif;
    --student-name-font-family: 'Raleway', sans-serif;
    --card-title-font-family: 'Raleway', sans-serif;
    --paragraph-font-family: 'Lato', sans-serif; 
    --link-font-family: 'Lato', sans-serif;
    --footer-font-family: 'Lato', sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: var(--background-color);
    max-width: 1000px;
    margin:  auto;
}
header{
   display: flex;
   flex-direction: column;
   padding: 1rem;
   
}

 header h2{
    background-color: var(--primary-color);
    font-family: var(--mainHeader-font-family);
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--nav-color);

}

nav{
  
  text-align: center;
  background-color: var(--nav-color);
  justify-content: space-evenly;/*Alinha os itens de navegação à direita do container.*/
  display: flex;/*Usa o layout flexível para organizar os itens de navegação em linha.*/
  padding: 0.2rem;
}

nav a{
    text-decoration: none;/*Remove o sublinhado dos links de navegação.*/
    color: var(--nav-color-text);
}
nav a:hover{
    text-decoration: underline;

}
main h1{
    font-family: var(--student-name-font-family);
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    grid-column: 1 / -1;
}
main {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    max-width: 900px;
    margin: auto;
    gap: 10px;
    
}
main h2{
    font-family: var(--card-title-font-family);
    font-size: 1.3rem;
    background-color: var(--primary-color);
    text-align: center;
    
}
.card{
    background-color: var(--background-color);   
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--nav-color);
}
.card p{
    font-family: var(--paragraph-font-family);
    padding: 1rem;
    line-height: 1.5;
}
section li {
    
    padding: 0.4rem;
    
}
section ul {
   padding: 2rem;
    
}
#card1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}
#card1 h2,
#card1 h3,
#card1 hr{
    grid-column: 1 / -1;
}

    
footer{
    display: grid;
    grid-template-columns: 1fr;

    background-color: var(--primary-color);
    color: var(--nav-color);
    text-align: center;
    padding: 1rem;
    font-family: var(--footer-font-family);
}
#lastModified{
    font-size: 10px;
   
    color:var(--accent1-color); ;
}