/* Estilos para o formulário de contato */
form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para as informações de contato */
.contact-info {
    margin-top: 20px;
}

.contact-info h3 {
    margin-bottom: 10px;
}