@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

:root {
    /* Core Colors */
    --primary-color:#002F5D; 
    --secondary-colo: #383434; 
    --accent1-color: #f0c040; 
    --accent2-color: #ffa500; 
    --accent3-color: #f4f4f4; 
}

/* Estilo para o Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002F5D; /* Cor igual ao primeiro layout */
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {}

nav a {
    color: white;
    text-decoration: none; /* Remove o sublinhado */
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Imagens */
img {
    width: 100%; /* Ajusta a largura da imagem ao contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
}

/* Figura */
figure {
    display: inline-block;
    width: 30%; /* Tamanho relativo das figuras */
    margin: 1.5%; /* Espaçamento entre as figuras */
    text-align: center; /* Centraliza o conteúdo da figura */
}

/* Texto da figura */
figcaption {
    text-align: center; /* Centraliza o texto abaixo da imagem */
    margin-top: 5px; /* Adiciona espaçamento entre a imagem e o texto */
}

/* Layout responsivo para imagens */
@media screen and (min-width: 600px) {
    figure {
        display: inline-block;
        width: 30%; /* Tamanho proporcional da figura */
        margin: 1.5%; /* Espaçamento entre as figuras */
    }

    img {
        width: 100%; /* Garante que a imagem se ajuste à largura do contêiner */
    }
}

/* Estilo para o Footer */
footer {
    background-color: #002F5D; /* Cor igual ao primeiro layout */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    height: 60px;
    margin-top: 5vh;
}
