/* ================================================================
   PROJETO: ESTILO GLOBAL E COMPONENTES
   DESCRIÇÃO: Estrutura de cores, tipografia e layout responsivo
================================================================ 


/* --- Variáveis de Raiz (Cores) --- */
:root {
    --primary-color: #002F5D;   
    --secondary-color: #383434; 
    --accent1-color: #f0c040;   
    --accent2-color: #ffa500;   
    --accent3-color: #f4f4f4;   
    /* Fontes */
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

/* --- Estilos Globais --- */
body {
    margin: 0;
    font-family: "Roboto", serif;
    background-color: var(--accent3-color);
}

main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--heading-font);
    
}

/* --- Cabeçalho (Header) --- */
header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    
}

header h1 {
    margin: 0;
    font-size: 25px;
    color: var(--accent3-color);
    font-family: var(--heading-font);
}

/* --- Navegação (Navbar) --- */
.navbar {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: var(--accent3-color); 
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: var(--body-font);
}

.navbar a:hover {
    background-color: var(--accent2-color);
    color: #fff;
}

/* --- Menu Mobile e Hamburger --- */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--accent3-color);
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    padding: 10px;
    top: 60px;
    border-radius: 8px;
    position: sticky;
    
}

.navbar-mobile.open {
    display: flex;
}

.navbar-mobile a {
    text-align: center;
    text-decoration: none;
    color: var(--accent3-color);
    border: 1px solid var(--accent3-color);
    background-color: var(--primary-color);
}

.close-btn {
    display: block;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    align-self: flex-end;
    cursor: pointer;
}

/* --- Layout de Grid --- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item p {
    padding: 10px;
    background: var(--primary-color); 
    color: var(--accent3-color); 
    font-weight: bold;
}

/* --- Rodapé (Footer) --- */
footer {
    background-color: var(--primary-color);
    color: var(--accent3-color);
    text-align: center;
    padding: 10px;
    font-size: 10px;
    height: 35px;
}

footer p {
    padding: 0;
}
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
figcaption {
    text-align: center;
}
.temple-card img {
    width: 100%; /* Ocupa a largura do card */
    height: auto; /* Ajusta a altura proporcionalmente para não distorcer */
    aspect-ratio: 400 / 250; /* Mantém o espaço reservado para evitar o pulo (CLS) */
    object-fit: cover; /* Corta levemente as bordas se necessário para preencher o espaço sem esticar */
}



.hamburger span {
    transition: all 0.3s ease-in-out;
}




.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}


.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}